module plugins/plugin

go {{.goVersion}}

require google.golang.org/grpc {{index .modules "google.golang.org/grpc"}}

require (
	github.com/golang/protobuf {{index .modules "github.com/golang/protobuf"}} // indirect
	golang.org/x/net {{index .modules "golang.org/x/net"}} // indirect
	golang.org/x/sys {{index .modules "golang.org/x/sys"}} // indirect
	golang.org/x/text {{index .modules "golang.org/x/text"}} // indirect
	google.golang.org/genproto {{index .modules "google.golang.org/genproto"}} // indirect
	google.golang.org/protobuf {{index .modules "google.golang.org/protobuf"}} // indirect
)
