version: 2
builds:
- id: darwin-amd64
  env:
    - CGO_ENABLED=1
    - CC=o64-clang
    - CXX=o64-clang++
  main: ./cmd/scenarigo
  ldflags:
  - -s -w
  - -X github.com/zoncoen/scenarigo/version.version={{.Version}}
  - -X github.com/zoncoen/scenarigo/version.revision=
  goos:
    - darwin
  goarch:
    - amd64
- id: darwin-arm64
  env:
    - CGO_ENABLED=1
    - CC=<< .CC >>
    - CXX=<< .CC >>++
  main: ./cmd/scenarigo
  ldflags:
  - -s -w
  - -X github.com/zoncoen/scenarigo/version.version={{.Version}}
  - -X github.com/zoncoen/scenarigo/version.revision=
  goos:
    - darwin
  goarch:
    - arm64
- id: linux
  env:
    - CGO_ENABLED=1
  main: ./cmd/scenarigo
  ldflags:
  - -s -w
  - -X github.com/zoncoen/scenarigo/version.version={{.Version}}
  - -X github.com/zoncoen/scenarigo/version.revision=
  goos:
    - linux
  goarch:
    - amd64

archives:
- name_template: >-
    {{- .ProjectName }}_
    {{- printf "v%s" .Version }}_
    {{- "go<< .GoVersion >>" }}_
    {{- title .Os }}_
    {{- if eq .Arch "amd64" }}x86_64
    {{- else if eq .Arch "386" }}i386
    {{- else }}{{ .Arch }}{{ end }}
  format_overrides:
  - goos: windows
    format: zip
  files:
  - README.md
  - CHANGELOG.md
  - LICENSE
  - CREDITS
checksum:
  name_template: "{{ .ProjectName  }}_v{{ .Version }}_go<< .GoVersion >>_checksums.txt"
snapshot:
  version_template: "{{ .Version }}-snapshot"
changelog:
  use: github-native
