name: lint
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2.1.5
      with:
        go-version: 1.17.x
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Lint
      run: make lint/ci
