name: reviewdog
on:
  pull_request:
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
        check-latest: true
        cache: false
    - name: golangci-lint
      uses: reviewdog/action-golangci-lint@v2
      with:
        reviewdog_flags: '-conf=.reviewdog.yml -diff="git diff main"'
        golangci_lint_version: v1.61.0
