name: run-examples
on:
  pull_request_target:
    types:
    - opened
    - synchronize
    - reopened
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: [stable, oldstable]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: suzuki-shunsuke/get-pr-action@v0.1.0
      id: pr
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{steps.pr.outputs.merge_commit_sha}}
    - name: Install Go
      id: setup-go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        cache: false
    - uses: actions/cache/restore@v4.2.0
      id: go-cache
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: go-${{ matrix.os }}-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-${{ steps.setup-go.outputs.go-version }}-
    - name: Build
      run: make build
    - name: Run examples
      run: make test/examples
    - uses: actions/upload-artifact@v4
      if: matrix.os == 'ubuntu-latest' && startsWith(matrix.go-version, 'stable')
      with:
        name: examples-go-mod-${{ github.event.number }}
        path: examples/**/go.*
        overwrite: true

  update:
    if:  startsWith(github.head_ref, 'dependabot/') && github.actor == 'dependabot[bot]'
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Generate token # required to trigger actions on the commit
      id: generate_token
      uses: tibdex/github-app-token@v2.1.0
      with:
        app_id: ${{ secrets.WRITE_APP_ID }}
        private_key: ${{ secrets.WRITE_PRIVATE_KEY }}
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ steps.generate_token.outputs.token }}
    - name: Install Go
      id: setup-go
      uses: actions/setup-go@v5
      with:
        go-version: stable
        check-latest: true
        cache: false
    - uses: actions/cache/restore@v4.2.0
      id: go-cache
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: go-${{ matrix.os }}-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-${{ steps.setup-go.outputs.go-version }}-
    - uses: actions/download-artifact@v4
      with:
        name: examples-go-mod-${{ github.event.number }}
        path: examples
    - uses: EndBug/add-and-commit@v9
      with:
        add: .
        default_author: github_actions
        message: 'chore(examples): update go.mod'
