name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: [stable, oldstable]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      id: setup-go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        cache: false
    - uses: actions/cache/restore@v4.2.0
      id: go-cache
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: go-${{ matrix.os }}-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-${{ steps.setup-go.outputs.go-version }}-
    - name: Generate codes and plugins
      run: make gen
    - name: Test
      env:
        SCENARIGO_GO_MOD_TIDY_RETRY: 1
      run: make test/ci
    - uses: actions/cache/save@v4.2.0
      if: github.ref_name == 'main'
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ steps.go-cache.outputs.cache-primary-key }}
    - name: Upload cmd coverage
      if: matrix.os == 'ubuntu-latest' && startsWith(matrix.go-version, 'stable')
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        disable_search: true
        files: ./coverage-cmd.out
        flags: cmd
        fail_ci_if_error: true
    - name: Upload module coverage
      if: matrix.os == 'ubuntu-latest' && startsWith(matrix.go-version, 'stable')
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        disable_search: true
        files: ./coverage-module.out
        flags: module
        fail_ci_if_error: true

  test-yaml-tag:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      id: setup-go
      uses: actions/setup-go@v5
      with:
        go-version: stable
        check-latest: true
        cache: false
    - uses: actions/cache/restore@v4.2.0
      id: go-cache
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: go-${{ matrix.os }}-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-${{ steps.setup-go.outputs.go-version }}-
    - name: Generate codes
      run: make gen/proto
    - name: Add yaml tag
      run: make add-yaml-tag
    - name: Generate plugins
      run: make gen/plugins
    - name: Test
      run: make test/ci
